{% extends 'base.html' %}
{% block body %}
    <form enctype="multipart/form-data" method="post">
        <div class="container col-8">
            <br>
            <div class="row g-3">
                <div class="col-sm-12">
                    <img height="150" src="/static/uploads/{{ coll.image }}" class="ui mini rounded image">
                </div>
                <div class="col-sm-6">
                    <label for="country" class="form-label">Подкатегория</label>
                    <select name="Subcategory" class="form-select" required="">
                        {% for n in Subcat %}
                            <option value="{{ n.id }}" {% if (n.id==coll.id_Subcategory)%} selected {% endif %}>{{ n.name }}</option>
                        {% endfor %}
                    </select>
                    <div class="invalid-feedback">
                        Выберете подкатегорию
                    </div>
                </div>

                <div class="col-sm-6">
                    <label class="form-label">Год</label>
                    <input name="Year" type="text" class="form-control" placeholder="Год" value="{{ coll.Year }}">
                    <div class="invalid-feedback">
                        Please enter your shipping address.
                    </div>
                </div>

                <div class="col-sm-6">
                    <label for="country" class="form-label">Фото</label>
                    <input name="img" type="file" class="form-control" >
                </div>

                <div class="col-sm-6">
                    <label class="form-label">Описание</label>
                    <input name="Description" type="text" class="form-control" placeholder="Описание" value="{{ coll.Description }}">
                    <div class="invalid-feedback">
                        Please enter your shipping address.
                    </div>
                </div>
            </div>
            <hr class="my-4">
            <button name="action" value="update" class="w-100 btn btn-primary btn-lg" type="submit">Изменить</button>
            <br><br>
            <button name="action" value="delete" class="w-100 btn btn-danger btn-lg" type="submit">Удалить</button>
        </div>
    </form>
{% endblock %}
