{% extends 'base.html' %}
{% block body %}
    <form method="post">
        <div class="container col-6">
            <br>
            <div class="row g-3">
                <div class="col-sm-12">
                    <label class="form-label">Название</label>
                    <input name="sub_name" type="text" class="form-control" placeholder="Название" value="{{ Subcat.name }}" required="">
                </div>
                <div class="col-md-12">
                    <label class="form-label">Категория</label>
                    <select name="selCat" class="form-select" required="" >
                        {% for n in Cat %}
                            <option value="{{n.id}}">{{n.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <hr class="my-4">
            <button name="action" value="update" class="w-100 btn btn-primary btn-lg" type="submit">Изменить</button>
            <br><br>
            <button name="action" value="delete" class="w-100 btn btn-danger btn-lg" type="submit">Удалить</button>
        </div>
    </form>
{% endblock %}

